.container {
  padding: 60px 70px 20px;
  font-family: 'Work Sans', sans-serif;
}

.titleContent {
  font-size: 32px;
  font-weight: 700;
  color: #4f4f4f;
  margin-bottom: 40px;
}

.CardBestSeller {
  padding-left: 20px;
  padding-right: 20px;
  width: 220px;
  height: 406px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid black;
}

.imageCardBestSeller {
  width: 180px;
  height: 280px;
  object-fit: cover;
}

.titleCard {
  margin: 24px;
}

#buttonCard {
  box-sizing: border-box;
  color: #4f4f4f;
  margin-top: 10px;
}

.containerCard {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  justify-content: space-between;
  overflow-x: scroll;
}

.containerCard #buttonCard {
  flex: none;
}

@media screen and (max-width: 800px) {
  .container {
    padding: 24px 30px 50px;
  }

  .titleContent {
    margin-bottom: 20px;
  }

  .CardBestSeller {
    width: 198px;
    height: 332px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid black;
  }

  .imageCardBestSeller {
    width: 150px;
    height: 225px;
    object-fit: cover;
  }

  .titleCard {
    margin-top: 10px;
  }

  #buttonCard {
    box-sizing: border-box;
    color: #4f4f4f;
    margin-top: 42px;
  }

  .containerCard #buttonCard {
    margin-right: 15px;
    flex: none;
  }
}

@media screen and (max-width: 600px) {
  .titleContent {
    font-size: 24px;
    margin-bottom: 30px;
  }

  #buttonCard {
    box-sizing: border-box;
    color: #4f4f4f;
    margin-top: 0;
  }
}
