#card2 {
  position: absolute;
  right: 80px;
  top: 100px;
  border: 1px solid #fff;
}

@media screen and (max-width: 1000px) {
  #card2 {
    right: 60px;
    top: 100px;
  }
}

@media screen and (max-width: 800px) {
  #card2 {
    position: fixed;
    right: 30px;
    border: 1px solid #fff;
    background-color: #39ab6d;
    border-radius: 50%;
    width: 44px;
    height: 44px;
  }
}
