#card {
  position: absolute;
  right: 80px;
  top: 100px;
  border: 1px solid #fff;
}

#icon-shope {
  color: #39ab6d;
}

.title {
  font-family: 'Work Sans', sans-serif;
}

@media screen and (max-width: 1000px) {
  #card {
    right: 60px;
    top: 100px;
  }
}

@media screen and (max-width: 800px) {
  #card {
    position: absolute;
    right: 20px;
    top: 220px;
    border: 1px solid #fff;
    background-color: #39ab6d;
    border-radius: 50%;
    width: 44px;
    height: 44px;
  }

  #icon-shope {
    color: white;
    margin: 0;
  }

  .title {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  #card {
    top: 160px;
  }
}
