.buy-item {
  padding: 180px 80px 80px;
  border-bottom: 1px solid gray;
}

.image-buy {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border: 1px solid #bdbdbd;
}

.box-total {
  border: 1px solid black;
  border-radius: 10px;
  padding: 24px;
}

.title-total {
  font-weight: 700;
  font-size: 22px;
}

/* Detail */
.detail-title {
  font-weight: 400;
  font-size: 48px;
  margin-bottom: 15px;
}

.detail-price {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 40px;
}

.descript-detail {
  font-size: 24px;
}

/* Tools Pilih jumlah */
.tools-total {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tools-total h1 {
  font-size: 22px;
  color: #39ab6d;
}

.harga-total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.harga-total h1 {
  font-size: 22px;
}

.button-total {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button-total Button {
  font-size: 20px;
  width: 100%;
  color: #39ab6d;
  border: 1px solid #39ab6d;
  border-radius: 10px;
}

.button-total Button:hover {
  background-color: #39ab6d;
  color: white;
}

@media screen and (max-width: 900px) {
  .buy-item {
    padding: 80px 0px 20px;
  }

  /* Detail */
  .detail-title {
    font-size: 28px;
  }

  .detail-price {
    font-size: 24px;
  }

  .descript-detail {
    font-size: 18px;
  }

  /* Anismasi Button */
  .detail-active {
    display: none;
  }

  .box-total {
    display: block;
    border: none;
    border-top: 1px solid black;
  }

  .box-total-active {
    display: none;
  }

  /* sampe sini aja */

  .image-buy {
    height: 400px;
  }

  .tools-total {
    justify-content: end;
  }

  .title-total {
    font-size: 18px;
  }

  .tools-total h1 {
    font-size: 18px;
    color: #39ab6d;
  }

  .harga-total h1 {
    font-size: 18px;
  }

  .button-total Button {
    font-size: 14px;
  }
}
