.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #39ab6d;
  width: 90%;
  margin-left: 10px;
  padding: 20px;
}

.bg {
  background-color: white;
  width: 100%;
}

.image {
  max-height: 200px;
  border-color: white;
  border-radius: 8px;
}

.category-text {
  background-color: #0087d3;
  border-radius: 8px;
  color: white;
  font-family: 'Work Sans';
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  text-align: center;
  padding-top: 10px;
  top: 20px;
  left: 20px;
  width: 90px;
  height: 28px;
}

.right-arrow {
  background-color: white;
  border-radius: 50%;
  position: absolute;
  right: -25px;
  font-size: 60px;
  border: 1px solid black;
  color: black;
  z-index: 10;
  top: 40%;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: -25px;
  top: 40%;
  border: 1px solid black;
  font-size: 60px;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 0.8s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 0.8s;
  text-align: center;
  padding: 10px;
}
