.category-phone {
  display: none;
}

@media screen and (max-width: 360px) {
  .category-dekstop {
    display: none;
  }

  .category-phone {
    display: block;
  }
}

.slider {
  position: absolute;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 280px;
  height: 126px;
  border: 8px solid;
  border-color: #39ab6d;
  border-radius: 8px;
}

.category-text {
  background-color: #0087d3;
  border-radius: 8px;
  color: white;
  font-family: 'Work Sans';
  font-size: 14px;
  font-weight: 700;
  position: relative;
  text-align: center;
  padding-top: 10px;
  bottom: 130px;
  left: 15px;
  width: 90px;
  height: 28px;
}

.right-arrow {
  background-color: white;
  border-radius: 50%;
  position: relative;
  bottom: 20px;
  left: 315px;
  font-size: 40px;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  background-color: white;
  border-radius: 50%;
  position: relative;
  bottom: 20px;
  left: 60px;
  font-size: 40px;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
}
