.imagesClient {
  width: 1400px;
  height: 263px;
  object-fit: cover;
  margin: auto;
}

.bg-container {
  overflow: hidden;
  padding: 200px 100px 70px;
}

@media screen and (max-width: 1000px) {
  .bg-container {
    padding: 150px 50px 70px;
  }
}

@media screen and (max-width: 800px) {
  .bg-container {
    height: auto;
    padding: 80px 0px 0px;
  }

  .imagesClient {
    width: 600px;
    height: 120px;
    object-fit: cover;
    margin: auto;
  }
}

@media screen and (max-width: 450px) {
  .imagesClient {
    width: 360px;
    height: 68px;
    object-fit: cover;
    margin: auto;
  }
}
