.container-kategori {
  padding: 60px 70px 100px;
  font-family: "Work Sans", sans-serif;
}

.container-kategori h1 {
  font-size: 32px;
  color: #4f4f4f;
  margin-bottom: 50px;
}

.slider {
  border-radius: 10px;
}

.container-btn {
  padding: 15px;
  background-color: #39ab6d;
  border-radius: 8px;
  height: 290px;
  width: 100%;
  position: relative;
}

.container-image {
  background-color: white;
  height: 100%;
  display: flex;
  align-items: center;
}

.container-btn img {
  margin: auto;
  object-fit: cover;
  width: 40%;
  max-height: 290px;
}

.container-btn .btn-title {
  position: absolute;
  color: white;
  top: 25px;
  left: 25px;
  background-color: #0087d3;
  font-weight: 700;
  font-size: 32px;
  padding: 10px 34.5px;
  border-radius: 8px;
}

.container-btn:hover {
  transform: scale(1.05);
}

.container-kategori .slider {
  display: none;
}

@media screen and (max-width: 900px) {
  .container-kategori {
    padding: 40px 40px 80px;
  }

  .container-kategori h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .respon-category {
    display: none;
  }

  .container-kategori .slider {
    display: block;
  }
}
