.keranjang {
  padding: 120px 100px 80px;
}

.keranjang input[type='checkbox'] {
  width: 30px;
  height: 30px;
}

.title-keranjang {
  margin-bottom: 66px;
}

.pilih-semua {
  font-size: 24px;
  color: #4f4f4f;
  display: flex;
  align-items: center;
  padding-bottom: 45px;
  border-bottom: 5px solid #e0e0e0;
  justify-content: space-between;
}

.pilih-semua input {
  margin-right: 30px;
}

.pilih-semua Button {
  color: #39ab6d;
  font-size: 24px;
  font-weight: 700px;
}

.list-keranjang {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
}

.list-keranjang img {
  width: 100%;
  height: 195px;
  object-fit: cover;
}

.name-produk {
  font-size: 32px;
  color: #4f4f4f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 195px;
}

.button-keranjang {
  display: flex;
  height: 195px;
  flex-direction: column;
  justify-content: space-between;
}

.tools-keranjang {
  display: flex;
  justify-content: space-between;
}

.remove-keranjang {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box-keranjang {
  border: 1px solid black;
  border-radius: 10px;
  padding: 24px 20px 20px 20px;
  font-size: 22px;
}

.box-keranjang .total-barang {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}

.box-keranjang .total-harga {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-keranjang Button {
  font-size: 20px;
  color: white;
  background-color: #39ab6d;
  width: 100%;
  border-radius: 5px;
}

.box-keranjang Button:hover {
  color: #39ab6d;
}

.remove-keranjang Button {
  color: #eb5757;
  font-size: 300px;
}

.remove-keranjang .tong {
  font-size: 44px;
  color: #eb5757;
}

@media screen and (max-width: 900px) {
  .keranjang {
    padding: 50px 10px 100px;
  }
  .name-produk {
    justify-content: space-around;
    align-items: center;
  }
}
