.logo-navbar {
  font-size: 36px;
  font-weight: 700;
  color: #39ab6d;
}

.navblok {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navblok Button {
  width: 100px;
  height: 40px;
  background-color: white;
  color: #39ab6d;
  font-size: 18px;
  font-weight: 700;
  border-color: 1px solid #39ab6d;
}

.navblok Button:hover {
  background-color: #39ab6d;
  color: white;
}

.button-navbar {
  display: flex;
  gap: 20px;
  align-items: center;
}

.button-navbar Button {
  width: 100px;
  height: 40px;
  background-color: white;
  color: #39ab6d;
  font-size: 18px;
  font-weight: 700;
  border-color: 1px solid #39ab6d;
}

.button-navbar Button:hover {
  background-color: #39ab6d;
  color: white;
}

.search-navbar .search-navbar-input {
  width: 600px;
}

.icon-responsive {
  display: none;
}

.search-ir {
  margin-right: 20px;
}

@media screen and (max-width: 1200px) {
  .icon-responsive {
    display: block;
    align-items: center;
  }
  .navblok {
    display: none;
  }

  .button-navbar Button {
    width: 300px;
    height: 40px;
  }

  .button-navbar {
    position: absolute;
    right: 0;
    top: 60px;
    left: 0;
    display: flex;
    background-color: #ffffff;
    height: 150px;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    transform: translateY(-150%);
    z-index: -1;
    transition: 0.8s;
  }

  .button-navbar-active {
    transform: translateY(0);
  }

  .button-navbar Button {
    width: 300px;
    height: 40px;
  }

  .search-navbar .search-navbar-input {
    max-width: 80vw;
    margin-right: 20px;
  }

  .search-active {
    display: none;
  }

  .logo-navbar-active {
    display: none;
  }
  .search-none {
    display: none;
  }
}
