.card-search img {
  width: 100%;
  margin: auto;
  height: 300px;
  object-fit: cover;
}

.card-search p {
  margin-top: 10px;
}

.card-search-produk {
  width: 100%;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 0px 24px 24px;
  box-sizing: border-box;
}

@media screen and (max-width: 900px) {
  .card-search-produk {
    padding: 0px 10px 24px;
  }
}

@media screen and (max-width: 360px) {
  .card-search img {
    width: 100%;
    height: 150px;
  }

  .card-search p {
    font-size: 14px;
  }
}
