.container-search {
  padding: 50px 100px 80px;
}

.title-search {
  display: flex;
  justify-content: space-between;
}

.title-search h1 {
  font-size: 24px;
}

.container-search .space-grid {
  margin-top: 70px;
}

.title-content-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-content-search select {
  border-color: #bdbdbd;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
}

.list-kategori {
  padding: 20px;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.list-kategori form input {
  margin-right: 10px;
}

.list-kategori form label {
  font-size: 18px;
}

.list-kategori Button {
  background-color: white;
  border: 1px solid #39ab6d;
  border-radius: 10px;
  margin-bottom: 10px;
  color: #39ab6d;
  font-weight: 700;
  font-size: 18px;
  box-sizing: border-box;
}

.list-kategori Button:hover {
  background-color: #39ab6d;
  color: white;
}

.list-kategori form input[type="number"] {
  height: 30px;
  text-indent: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  width: 100%;
}

.not-found {
  /* justify-content: center;
    align-items: center; */
  text-align: center;
  font-size: 18px;
  margin-top: 50px;
  display: block;
}

.hidden-active {
  display: none;
}

/* ini adalah bagian filter responsive */

.button-filter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button-filter Button {
  color: #bdbdbd;
  border: 1px solid #828282;
  border-radius: 5px;
  width: 150px;
}

.container-search .button-filter select {
  width: 50px;
}

/* ini adalah action active pada search */

.action {
  position: fixed;
  bottom: -1;
  right: 0;
  left: 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 10px 20px 30px;
  background-color: white;
  transition: 0.8s;
}

.action a {
  display: none;
}

.action .pagination {
  width: 100px;
  height: 10px;
  margin: auto;
  background-color: #828282;
}

.action .title-active {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-active Button {
  font-size: 18px;
  color: #39ab6d;
}

.title-active h1 {
  font-size: 20px;
}

.active-checkbox label {
  font-size: 16px;
  font-weight: 500;
}

.active-checkbox input {
  margin-right: 10px;
}

.active-harga p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px;
}

.active-harga input {
  width: 100%;
  height: 30px;
  text-indent: 20px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.button-active Button {
  width: 100%;
  background-color: #39ab6d;
  color: white;
  font-weight: 700;
  font-size: 18px;
  border-radius: 5px;
}

/* sampe sini ya */

@media screen and (max-width: 900px) {
  .container-search {
    padding: 50px 40px 80px;
  }

  .title-search {
    font-size: 16px;
  }

  .hidden-responsive {
    display: none;
  }

  .hidden-active {
    display: block;
  }

  .container-search .space-grid {
    margin-top: 20px;
  }

  .action {
    bottom: 0;
  }

  .container-search .action-active {
    display: none;
  }
}
