@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: Work Sans, sans-serif;
  text-decoration: none;
}

body {
  background-color: #ffffff;
  transition: 0.8s;
}
